stages:
  - test

test_job:
  stage: test
  image: python:3.12
  before_script:
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m unittest discover -s tests -v
